In [1]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
import seaborn as sb
%matplotlib inline

In [2]:
#loading dataset
data_set = load_iris()

In [3]:
#creating a df object, containing Dataset
df = pd.DataFrame(data_set['data'],columns=data_set['feature_names'])

In [4]:
#printing top 5 records
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
#setting flowers as target
df['flowers'] = data_set['target']

In [6]:
#printing top 5 records
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flowers
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [7]:
#shape of dataset
df.shape

(150, 5)

In [8]:
#segregating Dependent & Independent Variables
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [9]:
from sklearn.model_selection import train_test_split

X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size = 0.2 , random_state = 0)

In [10]:
from sklearn.preprocessing import StandardScaler

st = StandardScaler()
X_train = st.fit_transform(X_train)
X_test = st.transform(X_test)

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
lg = LogisticRegression()
lg.fit(X_train,Y_train)
print(f"Training Score : {lg.score(X_train,Y_train)*100}%\nTesting Score : {lg.score(X_test,Y_test)*100}%")

Training Score : 95.83333333333334%
Testing Score : 100.0%